.menu {
    transform: translateY(130%);
    transition-timing-function: ease-in;
    transition: 0.2s;
  }
.menu{
    transition: 0.25s;
    transition-timing-function: ease-out;
    
    transform: translateY(0);
    opacity: 1;
  }
.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 12px monospace;
    color: #999;
    text-transform: uppercase;
  }