@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}


.menu {
  height: 80vh;
  position: absolute;
  transition-timing-function: ease-in;
  transition: 0.3s;
  transform: translateX(250px);
  background-color: #999;

}

.list-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  
}

.list {
  display: none;
}

.menu-open {
  width: 250px;
  height: 80vh;
  position: absolute;
  right: 0;
  transition: 0.25s;
  transition-timing-function: ease-out;
  opacity: 1;
  background-color: #999;
  transform: translateX(0);
  opacity: 1;
}

/*
.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 6 / 3; }
  .div2 { grid-area: 3 / 3 / 6 / 5; }
  .div3 { grid-area: 1 / 3 / 3 / 4; }
  */

  .parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(10, 1fr);
grid-column-gap: 5px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 11 / 3; }
.div2 { grid-area: 1 / 3 / 5 / 4; }
.div3 { grid-area: 5 / 3 / 11 / 5; }

/*
footer {
  background-color: rgba(217, 77, 169, 1);
  background-image: linear-gradient(0deg, rgba(217, 77, 169, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
*/
.glass {
  background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}