@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.menu {
  transform: translateX(100%);
  display: flex;
  position: fixed;
  top: 10;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transition: 0.45s;
  z-index: 9999;
}

.list-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  
}



.menu-open {
  transform: translateX(0);
  display: flex;
  position: fixed;
  top: 10;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transition: 0.45s;
  z-index: 9999;
}

/*
.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 6 / 3; }
  .div2 { grid-area: 3 / 3 / 6 / 5; }
  .div3 { grid-area: 1 / 3 / 3 / 4; }
  */

  .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
    .div1 { grid-area: 1 / 1 / 6 / 3; padding-top: 20px;}
    .div2 { grid-area: 1 / 3 / 3 / 5; }
    .div3 { grid-area: 3 / 3 / 5 / 5; }
/*
footer {
  background-color: rgba(217, 77, 169, 1);
  background-image: linear-gradient(0deg, rgba(217, 77, 169, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
*/
.glass {
  background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #ff64a4;
  transform-origin: bottom right;
  transition: transform 1.7s ease-out;
}

.hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
 }
}
.colorful-border {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
}
.colorful-border::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#12e1f1, #12e1f1), linear-gradient(#ddd4d3, #ddd4d3), linear-gradient(#8a2668, #8a2668), linear-gradient(#ff64a4, #ff64a4);
  animation: rotate 8s linear infinite;
}
.colorful-border::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
  
}

.svg-bg{
  background-image: url("./section2.svg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.progress-bar {
  position: fixed;
  top: 20;
  left: 0;
  right: 0;
  height: 10px;
  background: #12e1f1;
  transform-origin: 0%;
}



.fade-in-out {
  animation: fade-in-out 5s both infinite;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  5%,
  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}